# Project exclude paths
/.gradle/
/build/
/run/
/run/.fabric/
/run/config/
/run/crash-reports/
/run/data/
/run/logs/
/run/mods/
/run/resourcepacks/
/run/resources/
/run/saves/
/run/shaderpacks/
/run/world/
/run/banned-ips.json
/run/banned-players.json
/run/eula.txt
/run/irisUpdateInfo.json
/run/ops.json
/run/options.txt
/run/server.properties
/run/usercache.json
/run/whitelist.json
